package ${basepackage}.dal.domain;

import java.io.Serializable;
import java.util.Date;

import lombok.Data;

/**
 * 
 *
 * @Description ${desc}
 * @author ${author}
 * @date ${date}
 *
 */
 
@Data
public class ${domainName} implements Serializable{

	private static final long serialVersionUID = 1L;
#foreach ($p in $properties)
	private $p.type $p.name;
#end
	
}
