<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 按照每天生成日志文件 -->
    <appender name="DailyFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/${projectName}/${projectName}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${user.home}/logs/${projectName}/${projectName}.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--自动删除300天前的数据-->
            <MaxHistory>300</MaxHistory>
        </rollingPolicy>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>2048MB</MaxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss S,GMT+8} %p %t -%X{trackingNo} %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <charset>UTF-8</charset>
    </appender>
    
    <!-- 控制台 -->
    <appender name="STDOUTAppender" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss S,GMT+8} %p %t -%X{trackingNo} %m%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>
    
 	<logger name="java.sql" level="INFO" additivity="false">
        <appender-ref ref="STDOUTAppender"/>
    </logger>

    <logger name="org.mybatis" level="INFO" additivity="false">
        <appender-ref ref="STDOUTAppender"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUTAppender"/>
        <appender-ref ref="DailyFileAppender"/>
    </root>    
</configuration>
